body {
  overflow: hidden;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .Thought-wheel {
    animation: Thought-wheel-spin infinite 20s linear;
  }
  .Thought {
    animation: Thought-wheel-spin infinite 20s reverse linear;
  }
}

.App-header {
  background-color: #716180;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Thinking-kitty {
  height: 80vmin;
  width: 50vmin;
  /* border: 5px solid white; */
}

.Thinking-kitty * {
  position: absolute;
  /* border: 1px solid black; */
}

.Kitty {
  height: 50vmin;
  left: calc(50vw - 25vmin);
  top: calc(40vh - 25vmin);
}

.Thought-wheel {
  width: 30vmin;
  height: 30vmin;
  left: calc(50vw - 15vmin);
  top: calc(40vh - 15vmin);
  /* border: 2px solid grey;
  border-radius: 50% 0%; */
}

.Thought {
  width: 15vmin;
  height: 15vmin;
  left: calc(15vmin - 7.5vmin);
  top: calc(15vmin - 7.55vmin);
  border: 1px solid black;
}

@keyframes Thought-wheel-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  z-index: 1;
}
