body {
  overflow: hidden;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .Thought-wheel {
    animation: Thought-wheel-spin infinite 20s linear;
  }
  .Thought {
    animation: Thought-wheel-spin infinite 20s reverse linear;
  }
}

.App-header {
  background-color: #716180;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Thinking-kitty {
  height: 80vmin;
  width: 50vmin;
  /* border: 5px solid white; */
}

.Thinking-kitty * {
  position: absolute;
  /* border: 1px solid black; */
}

.Kitty {
  height: 50cqmin;
  left: calc(50vw - 25cqmin);
  top: calc(40vh - 25cqmin);
}

.Thought-wheel {
  width: 70cqmin;
  height: 70cqmin;
  left: calc(50cqw - 35cqmin);
  top: calc(40cqh - 35cqmin);
  /* border: 2px solid grey; */
}

.Thought {
  width: 15cqmin;
  height: 15cqmin;
}

@keyframes Thought-wheel-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  z-index: 1;
}
